<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Flipween</title>
   
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div id="fb-root"></div>
    <script>
(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.8&appId=177425402721884";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));
    </script>
    <div class="navbar navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
               @Html.ActionLink(" ", "Index", "Home", new { area = "" }, new { @class = "headerLogo" })
            </div>
                <div class="navbar-right">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>

                    </div>

                    <div class="navbar-collapse collapse">
                        <ul class="nav navbar-nav">
                            @*<li>@Html.ActionLink("Home", "Index", "Home")</li>*@
                            <li>@Html.ActionLink("How it works", "HowItWorks", "Home", new { area = "" }, new { @class = "how-it-works_link" })</li>
                            <li>@Html.ActionLink("Start a Project", "HowItWorks", "Home", new { area = "" }, new { @class = "start-a-project_link" })</li>
                            <li>@Html.ActionLink("Explore", "Explore", "Home", new { area = "" }, new { @class = "start-a-project_link" })</li>
                            <li>@Html.ActionLink("How it works", "HowItWorks", "Home", new { area = "" }, new { @class = "start-a-project_link" })</li>
                            <li>@Html.ActionLink("Sign up", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink", @class = "sign-up_link" })</li>
                            <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink", @class = "log-in_link" })</li>

                        </ul>

                    </div>
                </div>
            </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Flipween</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
