@model FlipWeen.MVC.Models.ProjectViewModel

<div class="project-short sml-thumb">
    <div class="top-project-info">
        <div class="content-info-short clearfix">
            <a href="ProjectPage?projectId=@Model.Id" class="thumb-img">
                <img src="@Url.Content(Model.Image)" >
            </a>
            <div class="wrap-short-detail">
                <h3 class="rs acticle-title"><a class="be-fc-orange" href="#">@Html.DisplayTextFor(model => model.Name)</a></h3>
                <p class="rs tiny-desc">by <a href="#" class="fw-b fc-gray be-fc-orange">@Html.DisplayTextFor(model => model.User.FullName)</a></p>
                <p class="rs title-description">@Html.DisplayTextFor(model => model.Description)</p>
               
            </div>
        </div>
    </div>
    <div class="bottom-project-info clearfix">
        <div class="line-progress">
            <div class="bg-progress">
                <span style="width: 50%"></span>
            </div>
        </div>
        <div class="group-fee clearfix">
            <div class="fee-item">
                <p class="rs lbl">Funded</p>
                <span class="val">@Html.DisplayTextFor(model => model.ProgressPercent)</span>
            </div>
            <div class="sep"></div>
            <div class="fee-item">
                <p class="rs lbl">Pledged</p>
                <span class="val">@Html.DisplayTextFor(model => model.CurrentAmount)</span>
            </div>
            <div class="sep"></div>
            <div class="fee-item">
                <p class="rs lbl">Days Left</p>
                <span class="val">@Html.DisplayTextFor(model => model.DaysLeft)</span>
            </div>
        </div>
        <div class="clear"></div>
    </div>
</div>